<!-- /views/paper.erb -->
 <!DOCTYPE html>
 <html> 

<body>

  <div class="navbar">

    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>

  <h2><%= simple_format(@outcome) %></h2>

</body>

<div class="navbar">
    <div><a href="/">Rules</a></div>
</div>

<html> 
